@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ibrahim Mahmoud<br />
    34127 Kassel<br />
    <abbr title="Phone">Phone:</abbr>
    015902355763
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ibrahim.just@gmail.com">ibrahim.just@gmail.com</a><br />   
</address>